{% form_theme editEmailForm 'bootstrap_3_layout.html.twig' %}


<div class="email-form profile-form-block">
    {{ form_start(editEmailForm) }}
    <div class="form-group {{ editEmailForm.email.vars.errors|length > 0 ? 'has-error' : '' }}">
        <label class="profile-label">
            Email
        </label>

        <div class="view-field-block">
            <span class="profile-field">{{ user.email }}</span>
        <span class="edit-email-button edit-button glyphicon glyphicon-pencil"
              data-href="{{ path('user_get_edit_email_form_ajax', {id: user.id}) }}"></span>
        </div>
        <div class="edit-field-block">
            {{ form_widget(editEmailForm.email) }}
            <div class="field-actions">
                <span class="save-email-button save-button glyphicon learning-ok"
                      data-href="{{ path('user_edit_email_ajax', {id: editEmailForm.vars.value.id}) }}"></span>
                <span class="cancel-button glyphicon learning-remove"></span>
            </div>
            {{ form_errors(editEmailForm.email) }}
        </div>
    </div>
    {{ form_end(editEmailForm) }}
</div>


